{% extends 'tg_auth/base.html' %}

{% block title %}{{ airtable_user.tg_username }}{% endblock %}

{% block content %}
    <div class="data-card-wrapp">
        <div class="user__card">
            <h1 class="card-user-name">Hello, {{ airtable_user.tg_name }}!</h1>
            <p class="card-user">Your telegram id: {{ airtable_user.tg_id }}</p>
            <p class="card-user">Your telegram username: {{ airtable_user.tg_username }}</p>

            <a  class="card-btn" href="https://t.me/{{ airtable_user.tg_username }}">Telegram</a>
        </div>
    </div>
{% endblock %}